@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
   position: relative;
}
nav #logo{
    width: 20%;
    text-align: center;
    
}

nav ul{
    list-style: none;
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li a.register{
    background: rgb(27, 131, 50);
    padding: 10px 15px;
    color: #fff;
    letter-spacing: 0.5px;
}
.toggle{
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    position: absolute;
    right: 10%;
    top: 30%;
    transition: all 0.3s ease-in-out;
    display: none;
}
.social{
  font-size: 30px;
}
.fab.fa-facebook{
    color: blue;
}
.fab.fa-youtube{
    color: red;
}
.fab.fa-telegram{
    color: rgb(102, 205, 196);
}
.fab.fa-instagram{
    color: rgb(64, 93, 230);
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    
    height: 60vh;
    position: relative;
    opacity: 0;
    overflow: hidden;
}
.banner img{
    width: 50%;
    height: 100%;
   transform: translateX(20%);
   opacity: 0;
}
.text-content p{
  transform: translateY(20%);
  opacity: 0;
}
.banner .text-content h1{
    margin-top: 25px;
    transform: translateY(20%);
    opacity: 0;
}
.banner .text-content h1 span{
    color: red;
}
.banner .text-content p{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 2;
    word-spacing: 2px;
    word-wrap: break-word;
    width: 90%;
}
.banner .text-content span{
    color: #ea6f2e;
}
.banner-btn {
  
    padding: 15px 15px;
    border: none;
    outline: none;
    background: green;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    transform: translateY(20%);
    opacity: 0;
}
/* .underline{
    width: 80%;
    margin: auto;
    height: 2px;
    background: #000;
    margin-top: 25px;
} */
/* BOOKS */
.books{
   display: grid;
    place-items: center;
   
    position: relative;
   
    margin-top: 50px;
}
.card{
    height: 250px;
    width: 400px;
    display: grid;
    place-items: center;
    place-content: center;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) ;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) ;
    box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.6) ;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: translateY(10%);
    opacity: 0;
}
.card-b{
    height: 300px;
    width: 350px;
    display: grid;
    place-items: center;
    place-content: center;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) ;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) ;
    box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.6) ;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.card_{
    display: none;
}
strong{
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
    position: relative;
    flex-basis: 100%;
    text-align: center;
}
.books h1{
    font-size: 40px;
    color: red;
    transform: translateY(10%);
    opacity: 0;
}
.books h1{
    animation: leaves 2.5s ease-in-out infinite;
}

.beginner-books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 25px;
}
.card a,.card-b a{
    
    text-decoration: none;
    color: #000;
    
    font-weight: bold;
    font-size: 25px;
}
.card-b a{
    margin-bottom: 20px;
}
.card img{
    width:300px;
    height:200px;
    padding: 5px;
}

footer{
    width: 100%;
    background: #000;
    color: #fff;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
footer li {
    list-style: none;
    letter-spacing: 0.5px;
}
/* ******************************
    BOOKS
    *****************************
*/
.book-title{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: red;
    font-size: 45px;
}
.card-b img{
   width: 90%;
   height: 200px;
   margin: auto;
}
.books-section{
    display: flex;
    height: 45vh;
    justify-content: center;
    
}
.grammar-books-div{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.vocabulary-books-div{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.listening-books-div{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.books-btn{
    display: flex;
    justify-content: space-evenly;
    
    position: relative;
    
    margin-bottom: 20px;
    font-size: 20px;
}
.books-btn button{
    padding: 10px 15px;
    background: crimson;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}
.intro{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}
.intro h1{
    word-wrap: break-word;
    transform: translateY(10%);
    opacity: 0;
}
@media screen and (min-width:1000px){
    /* .banner-btn{
            position: absolute;
            left: 10%;
            top: 80%;
            padding: 15px 15px;
            border: none;
            outline: none;
            background: green;
            color: #fff;
            letter-spacing: 0.5px;
            cursor: pointer;
            font-size: 18px;
         
    } */
    nav ul li a{
        font-size: 18px;
    }
    .banner{
        margin-top: 50px;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (max-width:1350px){
    .beginner-books{
        grid-template-columns: 1fr 1fr;
        
    }
   
    
}
@media screen and (max-width:968px){
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        flex-direction: column;
        background: #fff;
        color: #fff;
        align-items: center;
        clip-path: circle(0px at 90% -10%);
        transition: all 1s ease-in-out;
        z-index: 10;
    }
    nav ul.open{
        clip-path: circle(1000px at 90% -10%);
    }
    
    .toggle {
        display: block;
        cursor: pointer;
        z-index: 10;
    }
    .banner{
        height: 90vh;
        display: grid;
        place-content: center;
        place-items: center;
    }
    .banner .text-content{
        place-items: center;
        text-align: center;
    }
    .text-content p{
        
    }
    .banner img{
        height: 200px;
        width: 80%;
        margin-top: 20px;
        
        pointer-events: none;
    }
    /* .banner-btn{
        width: 30% !important;
        padding-top: 10px;
        padding-bottom: 10px;
        background: green;
        color: #fff;
        border: none;
        outline: none;
        letter-spacing: 0.5px;
        transition: all 0.5s ease-in-out;
        margin: auto;
        cursor: pointer;
        
        font-size: 12px;
    } */
    .beginner-books{
        grid-template-columns: 1fr;
    }
    .books{
        
            
        
    }
    .books h1{
        font-size: 20px;
    }
    .card,.card-b{
        width: 300px;
    }
    footer{
        flex-wrap: wrap-reverse;
    }
    footer h1{
        font-size: 20px;
    }
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@media screen and(max-width:400px) {
    body{
        display: none;
    }
}